*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(160, 133, 107);
}

.formulari{
    border-color: black;
    margin:auto ;
}
.login{
    width: min-content;
    height: auto;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 15%;
    padding: 40px;
    background-color: rgb(240, 214, 166);
}

.lateral{
    float:right;
    background-color: #f5c87a;
    padding: 5px;
    line-height: 2;
    height: min-content;
}

.taula {
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
  tr:nth-child(even) {
    background-color: rgb(160, 133, 107);
}

a{
    text-decoration: none;
    border: 2px solid orange;
    padding: 6px;
    background-color: white;
    color: orange;
    font-weight: bold;
}
